body{
    margin: 0;
    font-family: Arial;
    background-color:black;
    color: white;
    line-height: 20px;
}
header{
   
   text-align: center;
  
}
.space{
    padding-top: 80px;
}

.cock{
    font-style: italic ;
    font-size: small;
    text-align: center;
}
.Big{
    font-size: 50px;
}
span {
   
   border-radius: 7px;
   width: 200px;
   background-color: #ffa31a;
   color:black;
   font-weight: bold;
}
header h1{
   
    font-size: 60px;
  
    font-weight: bolder;
}
header img{
    border-radius: 20px;
    width: 400px;
    border: 20px solid#ffa31a
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
main img{
    max-width: 100%;
    border-radius: 20px;
    border: 20px solid#ffa31a
}
header h2{
    text-align: left;}

footer
{
    font-size: small;
    font-style: italic;
}